<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <node pkg="slam_bot" type="teleop" name="teleop_keyboard"  output="screen">
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
    <!-- turtlebot control
    <remap from="teleop/cmd_vel" to="cmd_vel_mux/input/teleop"/>
    -->
    <remap from="teleop_keyboard/cmd_vel" to="cmd_vel"/>
  </node>
</launch>
